*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.banner{
    position: relative;
    width:100%;
    height: 100vh;
    background: url(./images/birds.jpg);
    background-size: cover;
    background-attachment: fixed;
}

section:nth-child(2n+1){
    position: relative;
    height: auto;
    background: #fafafa;
    display: flex;
    flex-direction: row-reverse;
}

section:nth-child(2n+2){
    position: relative;
    height: auto;
    background: #fafafa;
    display: flex;
    flex-direction: row;
}

section .imgBox{
    position: sticky;
    top: 0;
    min-width: 50%;
    height: 100vh;
}

section .imgBox img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;;
    max-height: 80%;
}

section:nth-child(2n+1) .content{
    padding: 100px 0 100px 100px;
    text-align: right;
} 

section:nth-child(2n+2) .content{
    padding: 100px 100px 100px 0;
    text-align: let;
} 

section .content h2{
    margin: 0 0 20px;
    font-size: 60px;
}

section .content p{
    color: #777;
    font-size: 18px;
}

/* group picture text scrolling area */
.group-pic{
    position: relative;
    width:100%;
    height: 50%;
}

div[id="about"]{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: white;
    font-size: large;
    scroll-snap-align: center;
}

.group-pic:hover > .text {
    height: 150px;
}

/* end of group picture text scrolling area */

.thumb {
    background-color: #CCC;

    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #000;
    margin: 5px;
    width: 100px;
    height: 100px;
}

#contain {
    background-size: contain;
    -moz-background-size: contain;
}